/* LImpando as formatações padrão*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(252, 245, 234);
    ;
}


/*area do Menu*/

#Menu {
    background-color: rgb(253, 252, 238);
    padding: 15;
    text-align: center;
}

.Logo,
.Area-menu {
    padding: 15px;
}


/*Formataçoes Gerais*/

h1 {
    color: rgb(245, 162, 39);
    font-size: 2.5em;
}

h2 {
    color: #f7b600;
}

h3 {
    color: #656565;
    padding: 10px;
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 10px;
    border-bottom: none;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #f7e097;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.Azul {
    color: rgb(236, 109, 4);
}


/*formatação dos Links*/

a {
    text-decoration: none;
}

#Menu a:link,
#Menu a:visited {
    color: rgb(243, 202, 140);
    padding: 9px 13px;
    text-transform: uppercase;
}

a:hover {
    color: rgb(240, 70, 18);
    background-color: bisque;
}


/*formatação da area de Postagem do Site*/

#area-principal {
    width: 920px;
    margin: 0 auto;
}

.postagens {
    width: 660px;
    float: left;
}

.area-lateral {
    padding: 25px;
    width: 340px;
    float: right;
}


/*formatação das Postagens*/

.conteudo-postagens {
    padding: 20px;
    margin-bottom: 20px;
    background-color: wheat;
}

.conteudo-lateral {
    background: wheat;
}


/*Formatação do Rodape Da Pagina*/

.rodape {
    background: rgb(241, 228, 209);
    clear: both;
    text-align: center;
    padding: 15px;
    color: rgb(255, 158, 11);
}